body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top:150px;
  width: 100%;
  position: absolute;
}

h1 {
  font-size: 3rem;
  margin: 0 0 2rem;
}

button {
  background-color: #4b9aed;
  color: #fff;
  border: purple;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 10px 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #007bff;
}

input {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  width: 400px;
  font-family: 'Courier New';
  color: rgb(0, 103, 2);
  margin: 0 0.5rem;
  border: 2px solid #ee0278;
  border-radius: 15px;
}

#copy {
  display: flex;
  margin-top: 1rem;
}

#copy button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 0;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#copy button:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }

  input {
    font-size: 1rem;
    padding: 0.8rem;
  }
}

* {
  margin:0px;
  padding:0px;
  box-sizing:box-shadow;
  font-family:sans-serif;
  justify-items: center;
  background-color:rgb(240, 246, 246);
 }
  .card-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 100px auto; */
    max-width: 100%;
  }
  
  .card {
    background-color: rgb(0, 255, 242);
    border-radius: 10px;
    box-shadow: 0 2px 6px white;
    margin: 100px;
    padding: 2px;
    width: 60%;
  }
  
  @media only screen and (max-width: 800px) {
    .card {
      margin: 0;
      max-height: 300px;
      max-width: 100%;
      width: 98%;
    }
  }

#call{
  margin-top: 10px;
  font-size:xx-large;
  color: red;
  background-color: #ffffff;
  border-radius: 40px;
  width: 20%;
}
  .footer {
    display: none;
    padding-bottom: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
  }
