* {
    margin:0px;
    padding:0px;
    box-sizing:box-shadow;
    font-family:sans-serif;
    background-color:black;
   }
.container {
   height:100vh;
   display:flex;
   justify-content:center;
   align-items:center;
   
}
.calculator {
   background-color:white;
   padding:15px;
   border-radius:30px;
   display:grid;
   grid-template-columns: repeat(4,68px);
   
}
input {
   grid-column:span 4;
   height:70px;
   font-size:25px;
   background-color:black;
   color:white;
   border:none;
   border-radius:15px;
   text-align:end;
   margin-top:40px;
   margin-bottom:30px;
   padding:20px;
   margin:8px;
   
   
}
button {
   height:48px;
   width:48px;
   color:white;
   background-color:black;
   border: none;
   border-radius: 20%;
   margin: 8px;
   font-size: 16px;
   font-weight: bold;
}
.cali {
   background-color:red;
   height:48px;
   width:100px;
   font-size:27px;
   radius:0px;
   border-radius:15px;
}