* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eceee1;
}

.container {
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    padding: 20px;
}

.options {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #020929;
}

button:hover{
    border: 2px dotted green;
}

.save{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}

.save:hover{
    box-shadow: 3px 1px 4px 1px rgb(254, 145, 3);
}

.save>div{
    display: flex;
    gap: 5px;
}

.saveFile{
    border: none;
    background-color: red;
    color: white;
    padding: 7px;
    border-radius: 5px;
    width: fit-content;
}

.openFile{
    border: none;
    background-color: rgb(7, 213, 100);
    color: white;
    padding: 7px;
    border-radius: 5px;
    width: fit-content;
}

.save input{
    border: none;
    outline: none;
    background-color: rgb(201, 244, 172);
    border-radius: 5px;
    font-weight: bolder;
    padding: 3px;
    font-size: medium;
    max-width: 200px;
    padding-left: 10px;
}

select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
}

.options label,
.options select {
    font-family: "Poppins", sans-serif;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

#text-input {
    margin-top: 10px;
    border: 1px solid #dddddd;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    flex: 1;
}

.active {
    background-color: #e0e9ff;
}

@media (max-width: 800px){
    .container {
        background-color: #ffffff;
        padding: 30px 10px;
    }
}