body{
    background-image: url('https://static-cse.canva.com/blob/1012036/1600w-qorGc89WQGo.jpg');
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
    the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #d4b3b3;
}

.container{
    color: rgb(218, 102, 121);
    margin-top: 300px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-items: center;
    min-height: 250px;
    background-color: rgb(245, 215, 220);
    padding: 10px;
    opacity: .8;
    border-radius: 30px;
    box-shadow: 0px 0px 1000px 0px ;
}
.container:hover{
    box-shadow: 0px 0px 1000px 100px ;
}

.card1{
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-items: center;
}
#btn{
    border: none;
    padding: 10px;
    background-color: rgb(0, 107, 48);
    color: white;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    
}

.card{
    border-radius: 25px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    max-width: 500px;
    box-shadow: 0px 0px 100px 0px rgb(5, 255, 5);
}
.welcome{
    background-image: url("invitation.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    width: 100%;
}