body {
    background-image: url('https://static-cse.canva.com/blob/1012036/1600w-qorGc89WQGo.jpg');
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
    the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: #d4b3b3;
}

.container {
    color: rgb(218, 102, 121);
    margin-top: 300px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-items: center;
    min-height: 250px;
    background-color: rgb(245, 215, 220);
    padding: 10px;
    opacity: .8;
    border-radius: 30px;
    box-shadow: 0px 0px 1000px 0px;
}

.container:hover {
    box-shadow: 0px 0px 1000px 100px;
}

.card1 {
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-items: center;
}

#btn {
    border: none;
    padding: 10px;
    background-color: rgb(0, 107, 48);
    color: white;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    border-radius: 30px;
    margin-top: 200px;
    box-shadow: 0px 0px 100px 30px rgb(255, 139, 214);
    text-align: center;
}

.img {
    border-radius: 10px;
}

.img:hover{
    box-shadow: 0px 0px 50px 0px rgb(0, 255, 76);
}

.card h2 {
    font-family: cursive;
    font-style: italic;
    color: rgb(17, 17, 71);
}

.mid {
    padding-right: 30px;
    padding-left: 30px;
}

.card h1 {
    font-family: Monaco;
    color: rgb(22, 4, 16);
}

.title {
    color: rgb(152, 76, 76);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.address {
    font-family: cursive;
    color: #ac7070;
    padding-left: 5px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(61, 239, 239);
    padding: 10px;
}

.last {
    background-color: #9b0000;
    box-shadow: 0px 0px 10px 0px red;
    color: white;
    font-family: 'Courier New';
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 400px;
        margin: auto;
        box-shadow: 0px 0px 30px 0px rgb(255, 139, 214);

        border-radius: 30px;
        text-align: center;
    }

    .img {
        border-radius: 10px;
    }

    .img:hover{
        box-shadow: 0px 0px 50px 0px rgb(0, 255, 76);
    }

    .card h2 {
        font-family: cursive;
        font-style: italic;
        color: rgb(17, 17, 71);
    }

    .mid {
        padding-right: 30px;
        padding-left: 30px;
    }

    .card h1 {
        font-family: Monaco;
        color: rgb(0, 0, 0);
    }

    .title {
        color: rgb(152, 76, 76);
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .card button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .address {
        font-family: cursive;
        color: #ac7070;
        padding-left: 5px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: rgb(61, 239, 239);
        padding: 10px;

    }

    .last {
        background-color: #9b0000;
        box-shadow: 0px 0px 10px 0px red;
        color: white;
        font-family: 'Courier New';
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        padding: 10px;
    }
}